<p>Hi Sukhwinder,</p>
<p>You got a message from <b><%= @name%></b></p>
<p>Message: <%= @message%></p>

<p>To reply back:</p>
<p>Name: <b><%= @name%></b></p>
<p>Email: <b><%= @email%></b></p>
<p>Phone No: <b><%= @phone_no%></b></p>
<p>Company: <b><%= @company%></b></p>