<p>Hi Sukhwinder,</p>
<p>You got a product query from <b><%= @name%></b> regarding <b><%=@product_name%></b></p>
<p>Message: <%= @message%></p>

<p>To reply back:</p>
<p>Name: <b><%= @name%></b></p>
<p>Email: <b><%= @email%></b></p>
<p>Phone No: <b><%= @phone_no%></b></p>
