<div class="mens">
<div class="main">
	<div class="wrap">
		<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / Contact Us</ul>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-6">
				<!-- BEGIN PORTLET-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Our Address
						</h3>
					</div>
					<div class="panel-body form">
						<p><strong>Manufacturing Unit :</strong><br>
							HAGG MILL STORE PRIVATE LIMITED<br>
							D-35, 1st Floor, Sec-10, Noida.(u.p.) India<br><br>
							<strong>Phone No:</strong> +91-120-4557000 <br>
							<strong>Cell Phone:</strong> +91-9891516863 ,9891046740 <br>
							<strong>Email:</strong> <a href="mailto:sawan.inder@gmail.com">sawan.inder@gmail.com</a>/&nbsp;&nbsp;<a href="mailto:sawan.inder@gmail.com">sawan2005_noida@yahoo.co.in</a><br><br>
						</p>
					</div>
				</div>
				<!-- END PANEL-->
			</div>
			<div class="col-md-6">
				<!-- BEGIN PORTLET-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Email Us
						</h3>
					</div>
					<div class="panel-body form">
						<%= form_tag send_email_path, :method => :post do |f| %>
							<div class="col-md-6">
								<%= text_field_tag :name, "", class: "form-control", placeholder: "Name*", :"data-validation" => "required", :"data-validation-error-msg" => "You forget to enter name :)" %>
							</div>
							<div class="col-md-6">
								<%= text_field_tag :email, "", :class => "form-control", placeholder: "Email*", :"data-validation" => "email", :"data-validation-error-msg" => "Please enter valid email for eg: user@example.com"  %>
							</div>
							<br />
							<br />
							<br />
							<div class="col-md-6">
								<%= text_field_tag :phone_no, "", placeholder: "Phone No*",:class => "form-control", :"data-validation" => "custom", :"data-validation-regexp" => "([0-9]{10})", :"data-validation-error-msg" => "Enter valid phone number eg: 9458694725"%>
							</div>
							<div class="col-md-6">
								<%= text_field_tag :company, "", :class => "form-control", placeholder: "Company"%>
							</div>
							<br />
							<br />
							<br />
							<div class="col-md-12">
								 <%= text_area_tag :message, "",placeholder: "Message*", :class => "form-control", :"data-validation" => "required"%>
							</div>
							<br />
							<br />
							<br />
							<br />
							<div class="submit">
								<input type="submit" value="Submit" style="margin-left: 15px">
							</div>
						<%end%>
					</div>
				</div>
				<!-- END PANEL-->
			</div>
		</div>
	</div>
</div>
</div>
