<div class="mens">    
  <div class="main">
     <div class="wrap">
     	<ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Home</a> / <a class="home" href="/products">Products</a> <%= @tool_category ? "/ #{@tool_category.name}" : "" %> </ul>
		<div class="clear"></div>
		<div class="cont span_2_of_3">
			<!-- Logic for 3 pics in row -->
				<%j=0%>
				<%@products.each_with_index do |var,index|%>
					<%j= j+1%>
					<%if index!=0 and index%3==0 %>
						<div class="clear"></div>
						</div>
					<%end%>
					<%if index==0 or index%3==0 %><div class="top-box"><%end%>
					<div class="col_1_of_3 span_1_of_3">
						<a href=<%= variant_path(var)%>>
							<div class="inner_content clearfix">
								<div class="product_image">
									<% if var.photos.present? %>
										<img src=<%= var.photos.first.img.url(:large)%> alt=""/>
									<% else %>
										<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
									<%end%>
								</div>
								<div class="price">
									<div class="cart-left">
										<p class="title"><%= var.name%></p>
									</div>
									<div class="cart-right"> </div>
									<div class="clear"></div>
								</div>
							</div>
						</a>
					</div>
				<%end%>
				<div class="clear"></div>
			</div>
		</div>
		<div class="rsidebar span_1_of_left">
			<h5 class="m_1">Categories</h5>
			<ul class="kids">
				<% @categories.each do |cat|%>
					<li><a href=<%= "/products?id=#{cat.id}"%>>-> <%= cat.name%></a></li>
				<%end%>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>