<div class="mens">
	<div class="main">
		<div class="wrap">
			<ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Home</a> / <a class="home" href="/products">Products</a> / <%= @variant.name%></ul>
			<div class="cont span_2_of_3">
				<div class="grid images_3_of_2">
					<ul id="etalage">
						<% @variant.photos.each do |pic|%>
						<li>
							<a href="optionallink.html">
								<img class="etalage_thumb_image" src=<%= pic.img.url%> class="img-responsive" />
								<img class="etalage_source_image" src=<%= pic.img.url%>  class="img-responsive" title="" />
							</a>
						</li>
						<%end%>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="desc1 span_3_of_2">
					<h3 class="m_3"><%= @variant.name%></h3>
					<div class="btn_form">
						<%= link_to 'Send Query', "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-primary", style: "z-index: auto;" %>
					</div>
					<p class="m_text2"><%= @variant.desc %></p>
				</div>
				<div class="clear"></div>	
			</div>
			<div class="rsingle span_1_of_single">
				<h5 class="m_1">Categories</h5>
					<ul class="kids">
						<% @categories.each do |cat|%>
							<li><a href=<%= "/products?id=#{cat.id}"%>><%= cat.name%></a></li>
						<%end%>
					</ul>
				</div
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div tabindex="-1" class="modal fade" id="myModal" role="dialog" style="z-index: 999999">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<h3 class="modal-title">Send Enquiry Form</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<%= form_tag send_query_path, :method => :post do |f|  %>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="name">Product</label>
						</div>
						<div class="col-sm-8">
							<%= text_field_tag :product_name, @variant.name, class: "form-control", :"data-validation" => "required", :"data-validation-error-msg" => "Please enter Product name"%>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="message">Query</label>
						</div>
						<div class="col-sm-8">
							<%= text_area_tag :query, "I am interested. Kindly send the quotation for the same.", placeholder: "Message", :class => "form-control", :"data-validation" => "required", :"data-validation-error-msg" => "Please specify your query"%>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="name">Name</label>
						</div>
						<div class="col-sm-8">
							<%= text_field_tag :name, "", class: "form-control", placeholder: "Your Name", :"data-validation" => "required", :"data-validation-error-msg" => "Please enter your name" %>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="email">Email</label>
						</div>
						<div class="col-sm-8">
							<%= text_field_tag :email, "", :class => "form-control", placeholder: "Email", :"data-validation" => "email", :"data-validation-error-msg" => "Please enter valid email for eg: user@example.com" %>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="phone_no">Phone No</label>
						</div>
						<div class="col-sm-8">
							<%= text_field_tag :phone_no, "", placeholder: "Phone No",:class => "form-control", :"data-validation" => "custom", :"data-validation-regexp" => "([0-9]{10})", :"data-validation-error-msg" => "Enter valid phone number eg: 9458694725"%>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="Company">Company</label>
						</div>
						<div class="col-sm-8">
							<%= text_field_tag :company, "", placeholder: "Company Name (Leave blank if individual)",:class => "form-control"%>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-sm-4">
							<label for="type">Type</label>
						</div>
						<div class="col-sm-8">
								<%= radio_button_tag 'com_type', 'Dealer', true %> Dealer
								<%= radio_button_tag 'com_type', 'Individual' %> Individual
						</div>
					</div>
					<br />
					<br />
					<div class="form-group text-center">
						<!-- form Submit and reset button -->
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				<%end%>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>