<script language="Javascript">
$(function() {
  $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, 100, 100],
        aspectRatio: 1
        });
      function update_crop(coords) {
        var rx = 100/coords.w;
        var ry = 100/coords.h;
        var ratio = <%= @photo.avatar_geometry(:original).width %> / <%= @photo.avatar_geometry(:large).width %>;
        $("#crop_x").val(Math.round(coords.x * ratio));
        $("#crop_y").val(Math.round(coords.y * ratio));
        $("#crop_w").val(Math.round(coords.w * ratio));
        $("#crop_h").val(Math.round(coords.h * ratio));
      }
});
</script>
<div class="main">
	<div class="wrap">
		<ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Photo</a> / <%= @photo.id %></ul>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-12">
			<p>
			  <%= image_tag @photo.img.url(:large), :id => 'cropbox' %>
			</div>
			</p>
			
			<%= form_for @photo, url: crop_photo_path(@photo.id) do |f| %>
				<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
					<%= f.hidden_field attribute, :id => attribute %>
				<% end %>
				<p><%= f.submit "Crop" %></p>
			<% end %>
		</div>
	</div>
</div>

