<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		New Tool Category
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html">
					Home
				</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">
					New Tool Category
				</a>
			</li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span>
					</span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box yellow">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>New Tool Category Form
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<%= form_for @category, url: tool_categories_path, html: {multipart: true, class: "form-horizontal form-bordered"} do |f| %>
					<div class="form-group">
						<label class="col-sm-3 control-label">Category Name</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<%= f.text_field :name, class: "form-control",placeholder: "Enter Category Name", autofocus: true%>
							</div>
						</div>
					</div>
					<%= f.nested_fields_for :variants do |ff| %>
						<div class="form-group">
							<label class="col-sm-3 control-label">Variant Name</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<%= ff.text_field :name, class: "form-control",placeholder: "Enter Variant Name"%>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Variant Price</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<%= ff.number_field :price, class: "form-control"%>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Variant Description</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<%= ff.text_area :desc, class: "form-control"%>
								</div>
							</div>
						</div>
						<div class="row">
							<%= ff.nested_fields_for :photos do |pic| %>
								<div class="col-md-12">
									<div class="form-group last">
										<label class="control-label col-md-3">Upload Image</label>
										<div class="col-md-9">
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
													<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
												</div>
												<div>
													<span class="btn default btn-file">
														<span class="fileinput-new">
															 Select image
														</span>
														<span class="fileinput-exists">
															 Change
														</span>
														<%= pic.file_field :img, class: ""%>
													</span>
													<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
														 Remove
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							<%end%>
							<br />
							<br />
							<div class="row">
								<div class="col-md-12" align="center">
									<%= ff.add_nested_fields_link :photos, '+Add Pics', class: 'btn btn-primary', role: 'button'%>
								</div>
							</div>
							<br />
						</div>
					<%end%>
					<div class="row">
						<div class="col-md-12" align="center">
							<%= f.add_nested_fields_link :variants, '+Add Variants', class: 'btn btn-success', role: 'button'%>
						</div>
					</div>
					<br/>
					<div class="form-actions fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn purple"><i class="fa fa-check"></i> Submit</button>
									<button type="button" class="btn default">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>