<div class="main">
	<div class="wrap">
		<ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Home</a> / <%= @category.name %> / Edit</ul>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN SAMPLE TABLE PORTLET-->
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							Products
						</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
							<thead>
							<tr>
								<th>
									 #
								</th>
								<th>
									 Product
								</th>
								<th>
									 Description
								</th>
								<th>
									 Photos
								</th>
								<th>
									Action
								</th>
							</tr>
							</thead>
							<tbody>
								<% @category.variants.each_with_index do |var,i|%>
									<tr>
										<td><%= i+1 %></td>
										<td><%= var.name %></td>
										<td><%= var.desc %></td>
										<td>
											<% var.photos.each do |pic|%>
												<%= image_tag pic.img.url(:thumb) %>
												<%= link_to image_tag("portlet-remove-icon.png"), pic, :method => :delete%>
											<%end%>
										</td>
										<td>
											<%= button_to "delete", variant_path(:id => var.id), :method => :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
										</td>
									</tr>
								<%end%>
								<tr>
									<td class="center-content" colspan=5>
										<%= link_to "Edit", edit_tool_category_path(@category), class: "btn btn-success pull-right"%>
									</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END SAMPLE TABLE PORTLET-->
			</div>
		</div>
	</div>
</div>
